.forms {
    &-input {
        border: 0.1em solid #EEEFF4;
        border-radius: 2px;
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 12px 10px;
        background-color: #EEEFF4;
        outline: none;
        &:focus {
            border: 0.1em solid #22577E;
        }
        &__file {
            background-color: #EEEFF4;
            border: 2px dotted #bcbdc2;
            width: 100%;
            max-width: 100%;
            height: 100%;
            opacity: 0;
        }
        &__error {
            border: 1px solid red;
        }
    }
}